@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, abyss --prefersdark, cupcake, dracula;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}
@utility btn {
  @apply rounded-full;
}