[class*="-tick"] text,
[class*="-legendItemLabel"] {
  fill: var(--color-base-content) !important;
  color: var(--color-base-content) !important;
}

@layer utilities {
  /* Bit hacky, but Capitalize the first letter of the breadcrumb label */
  .breadcrumbs {
    & > ul {
      & > li {
        & > a {
          text-transform: capitalize !important;
        }
      }
    }
  }
}
